--index-url https://download.pytorch.org/whl/cu121
torch>=2.0
torchvision>=0.15
--index-url https://pypi.org/simple
Pillow>=9.0
PyYAML>=6.0
lpips>=0.1.4
lmdb
gdown
tqdm
wandb>=0.26.1
huggingface_hub>=1.12.0
hf_transfer>=0.1.9
thop>=0.1.1
